@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e8e8e8;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #1c1c1c;
    margin: 5px 0;
    font-weight: 400;
}

img {
    width: 100%;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    /* height: fit-content; */
    /* width: 500px; */

    display: flex;
    flex-direction: column;
    /* align-items: center; */

    align-items: center;

    /* too much shadow */
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.logo {
    width: 50%;
    /* background-color: orange; */
    margin: 15px;
}

.options {
    display: flex;
    /* justify-content: space-between; */
    /* background-color: gray; */
}

label {
    color: #595959;
}

input[type='number'] {
    width: 320px;
    padding: 10px;
    border-radius: 5px;
    border: #e8e8e8 2px solid;
}

input:focus {
    outline: none;
}

.password {
    margin: 0 15px;
    /* background-color: yellow; */
}

.password-checkedbox {
    margin-left: 15px;
}

.username {
    margin: 0 15px;
    /* background-color: red; */
}

.username-checkedbox {
    margin-left: 15px;
}

.password-input h2 {
    margin-bottom: 10px;
}

.generate {
    margin: 20px;
}

.generate button {
    width: 320px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #037aff;
    color: white;
    cursor: pointer;
    font-size: large;

    font-family: 'Roboto', sans-serif;
}

.generate button:hover {
    background-color: #469eff;
}

.result {
    background-color: #d4e8ff;
    width: 320px;
    height: fit-content;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    overflow-wrap: break-word;

    margin-bottom: 23px;
}
