/* -------------------- utils -------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  line-height: 3rem;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: radial-gradient(transparent, black), #005fd2;
  padding: 25px;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

img {
  display: block;
  width: 100%;
}

.splitter {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  flex: 20%;

  width: 100%;
  padding: 5px;

  border: none;
  border-radius: 2px;

  font-size: 100%;
  color: white;
  background-color: #00408d;
  cursor: pointer;
}

button:hover {
  background-color: #0051b2;
}

input[type='number'] {
  flex: 80%;

  font-size: 100%;
  width: 100%;
  padding: 5px;
  border: 0.8px solid;
  border-radius: 2px;
  margin-right: 5px;
}

input[type='number']:focus {
  background-color: #c0ddfd;
  outline: none;
  border: 0.8px solid #0579ff;
}

/* -------------------- app -------------------- */
.app {
  background-color: #ffffff;
  padding: 25px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.app__options-col {
  display: flex;
  justify-content: space-between;
}

.app__logo {
  font-size: 10rem;
  color: #00408d;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app__logo:hover {
  color: #0051b2;
  cursor: pointer;
}

.app__description {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.github {
  font-size: 2rem;
  margin-left: 5px;
  color: black;
}

.github:hover {
  color: #005fd2;
}

a:visited {
  color: #000000;
}

.checkbox {
  margin-right: 5px;
}

.app__result {
  background-color: #c0ddfd;
  padding: 25px;

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #a3c1e2;
  margin-top: 10px;
  margin-bottom: 20px;
}

.app__error {
  background-color: #f8d7da;
  padding: 25px;

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #ebbdc1;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* -------------------- fixes for desktop -------------------- */
@media (min-width: 450px) {
  .app {
    width: 450px;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .app__options-col {
    display: flex;
    justify-content: space-evenly;
  }
}
