<div class="app animate__animated animate__fast animate__zoomInDown">
  <!-- -------------------- logo -------------------- -->
  <div class="app__logo">
    <span class="iconify" data-icon="mdi:book-lock" data-inline="false"></span>
  </div>

  <!-- -------------------- description -------------------- -->
  <div class="app__description">
    <div class="splitter">
      <h2>Unique Login</h2>
    </div>
    <div>
      A simple over-engineered full-stack web application that spits out unique login credentials
    </div>
  </div>

  <!-- -------------------- options -------------------- -->
  <div class="app__options">
    <div class="app__options-col">
      <!-- -------------------- password -------------------- -->
      <div class="app__options-password">
        <h3>Password</h3>
        <div>
          <input
            type="checkbox"
            name="uppercase"
            id="uppercase"
            class="checkbox"
            v-model="checkedPassword"
            value="uppercase"
          />
          <label for="uppercase">Uppercase (A-Z)</label>
        </div>
        <div>
          <input
            type="checkbox"
            name="lowercase"
            id="lowercase"
            class="checkbox"
            v-model="checkedPassword"
            value="lowercase"
          />
          <label for="lowercase">Lowercase (a-z)</label>
        </div>
        <div>
          <input
            type="checkbox"
            name="number"
            id="number"
            class="checkbox"
            v-model="checkedPassword"
            value="number"
          />
          <label for="number">Number (0-9)</label>
        </div>
        <div>
          <input
            type="checkbox"
            name="special"
            id="special"
            class="checkbox"
            v-model="checkedPassword"
            value="special"
          />
          <label for="special">Special (!@#$%^&*-.)</label>
        </div>
      </div>

      <!-- -------------------- username -------------------- -->
      <div class="app__options-username">
        <h3>Username</h3>
        <div>
          <input
            type="checkbox"
            name="animals"
            id="animals"
            class="checkbox"
            v-model="checkedUsername"
            value="animals"
          />
          <label for="animals">Animal</label>
        </div>
        <div>
          <input
            type="checkbox"
            name="verbs"
            id="verbs"
            class="checkbox"
            v-model="checkedUsername"
            value="verbs"
          />
          <label for="verbs">Verb</label>
        </div>
        <div>
          <input
            type="checkbox"
            name="nouns"
            id="nouns"
            class="checkbox"
            v-model="checkedUsername"
            value="nouns"
          />
          <label for="nouns">Noun</label>
        </div>
        <div>
          <input
            type="checkbox"
            name="adjectives"
            id="adjectives"
            class="checkbox"
            v-model="checkedUsername"
            value="adjectives"
          />
          <label for="adjectives">Adjective</label>
        </div>
      </div>
    </div>
  </div>

  <!-- -------------------- length -------------------- -->
  <div class="app__options-length">
    <h3>Length</h3>
    <div class="splitter">
      <input id="length-input" type="number" placeholder="14" v-model="enteredLength" />
      <!-- -------------------- generate button -------------------- -->
      <button id="generate-button" type="submit" v-on:click="generateUniqueLogin">
        <span class="iconify" data-icon="octicon:gear" data-inline="false"></span>
      </button>
    </div>
  </div>
  <!-- -------------------- result -------------------- -->
  <div v-bind:class="showResult">
    <div v-if="isError">
      <p id="error-text">{{errorMessage}}</p>
    </div>
    <div v-else-if="!isError && (result.username !== '' && result.password !== '')">
      <p>
        <span style="font-weight: bold">Username:</span>
        <span id="username-text">{{result.username}} </span>
      </p>
      <p>
        <span style="font-weight: bold">Password:</span>
        <span id="password-text">{{result.password}}</span>
      </p>
    </div>
    <div v-else>
      <p id="choose-text">Choose prefer option and click generate!</p>
    </div>
  </div>

  <!-- api -->
  <div class="app_footer">
    <small>API doc is available <a href="/api/docs" target="_blank"> here️ ↗️</a></small>
    |
    <small><a href="https://github.com/wajeht/unique-login-web" target="_blank">Github ↗</a></small>
  </div>
</div>
