<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Unique Login: Not found</title>
    <link rel=" stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- ---------- linkedin stuff starts ---------- -->
    <meta name="title" property="og:title" content="UniqueLogin" />
    <meta property="og:type" content="Full-stack Web App" />
    <meta name="image" property="og:image" content="/img/linkedin.jpg" />
    <meta name="description"
      content="A simple over-engineered full-stack web application that spits out unique login credentials" />
    <meta name="author" content="wajeht" />
    <!-- ---------- linkedin stuff end ---------- -->

  </head>

  <body>
    <div class="app animate__animated animate__fast animate__zoomInDown">
      <p style="text-align:center">Not found!</p>
    </div>
  </body>

</html>
